body {

  background: rgb(11,88,173);
  background: linear-gradient(280deg, rgba(11,88,173,1) 0%, rgba(0,212,255,1) 100%);
  background-repeat:repeat-y;

}

.main {
   margin-left: 140px;
   font-size: 200%;
   padding: 0 3%;
}
section {
   height: 400px;
   background-color: tomato;
}
.sidebar {
   height: 100%;
   width: 140px;
   top: 0;
   left: 0;
   position: fixed;
   background-color: #020024;
   padding-top: 20px;
}
.sidebar a {
   display: block;
   padding: 2% 4%;
   text-decoration: none;
   color: lightblue;
   font-size: 1.4em;
}
.sidebar a:hover {
   color: white;

}

.footer {
  position: fixed;
    top: 528;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #020024;
    color: white;

}
