.background {
  height: ;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(0,212,255,1) 100%);
}

.main {
   margin-left: 140px;
   font-size: 200%;
   padding: 0 3%;
}
section {
   height: 400px;
   background-color: tomato;
}
.sidebar {
   height: 100%;
   width: 140px;
   top: 0;
   left: 0;
   position: fixed;
   background-color: #020024;
   padding-top: 20px;
}
.sidebar a {
   display: block;
   padding: 2% 4%;
   text-decoration: none;
   color: lightblue;
   font-size: 1.4em;
}
.sidebar a:hover {
   color: white;

}
