body {
  font-family: monospace;
  background: rgb(11,88,173);
  background: linear-gradient(280deg, rgba(11,88,173,1) 0%, rgba(0,212,255,1) 100%);
  background-repeat:repeat-y;
}
.txtborder {
  border: 1px solid black;
  padding: 10px;
  background: rgb(0,212,255);
  background: linear-gradient(280deg, rgba(0,212,255,1) 0%, rgba(11,88,173,1) 100%);
}

.me {
  margin-left: 50%;
}
.contact {
  margin-top: 330px;
}
p {
  font-size: 60%;
}
.main {
   margin-left: 140px;
   font-size: 200%;
   padding: 0 3%;
}
.sidebar {
   height: 100%;
   width: 140px;
   top: 0;
   left: 0;
   position: fixed;
   background-color: #020024;
   padding-top: 20px;
}
.sidebar a {
   display: block;
   padding: 2% 4%;
   text-decoration: none;
   color: lightblue;
   font-size: 1.4em;
}
.sidebar a:hover {
   color: white;
}
div.gallery {
  margin-left: 15%;
  margin-top: 5%;
  border: 4px solid gray;
  float: left;
  width: 240px;
  height: 240px;
}
div.gallery:hover {
  border: 4px solid black;
}
div.description {
  padding: 15px;
  text-align: center;
}
footer {
  position: fixed;
  top: 528;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #020024;
  color: white;
}
